@charset "utf-8";

/*CSS reset*/
body{position:relative;font:14px/1.5 tahoma,arial,'Hiragino Sans GB',"Microsoft Yahei","微软雅黑",simsun,sans-serif; min-width:1336px; color:#00e6ff;overflow-x:hidden; background-color:#00336c;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0; vertical-align:middle;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup,sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
em, strong, i{font-size:100%; font-style:normal;}
a{text-decoration:none; color:#00e6ff;}
a:hover{text-decoration:none;}
a:focus{outline: none;}
input:focus{ outline: none;}
::-ms-clear,::-ms-reveal{display:none;}

/*文字排版*/
.fs-12{font-size:12px !important;}
.fs-14{font-size:14px !important;}
.fs-16{font-size:16px !important;}
.fs-18{font-size:18px !important;}
.fs-20{font-size:20px !important;}
.fs-24{font-size:24px !important;}
.fs-26{font-size:26px !important;}
.fs-30{font-size:30px !important;}
.fs-36{font-size:36px !important;}
.fw-b{font-weight:bold !important;}
.fw-n{font-weight:normal !important;}

.fc-white{color:#fff !important;}

.ti-2{text-indent:2em !important;}
.ti-hide{text-indent:-9999em;}
.lh-100{line-height:1 !important;}
.lh-15{line-height:1.5em !important;}
.lh-18{line-height:1.8em !important;}
.lh-20{line-height:2em !important;}
.td-unl{text-decoration:underline !important;}
.td-non{text-decoration:none !important;}
.td-del{text-decoration:line-through !important;}
a.hv-unl:hover, a.td-unl:hover{text-decoration:underline;}
.fs-lg{font-size:2em;}
.tal, .text-left{text-align:left !important;}
.tar, .text-right{text-align:right !important;}
.tac, .text-center{text-align:center !important;}
.txthide, .icon{font-size:0; line-height:0; color:transparent; overflow:hidden; text-decoration:none;}
.bdn{border:none !important;}
.bg-imgn{background-image:none !important;}

/*定位*/
.pull-center{margin-left:auto;margin-right:auto;}/*块级元素水平居中（前提是块级元素有设置宽度）*/
.pull-left{float:left;_display:inline;}/*消除ie6浮动产生的双边距*/
.pull-right{float:right;_display:inline;}/*消除ie6浮动产生的双边距*/
.cb{clear:both;}/*清除浮动*/
.cl{clear:left;}/*清除左浮动*/
.cr{clear:rigth;}/*清除右浮动*/
.clearfix, .form-item{zoom:1;}
.clearfix:after, .form-item:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.vam{vertical-align:middle;}
.relative, .por{position:relative;}
.absolute, .poa{position:absolute;}
.block{display:block;}
.inline{display:inline !important;}
.inline-block{display:inline-block !important;}
.hide{visiility:hidden !important;}
.dsn{display:none !important;}
.dsb{display:block !important;}

/*长度高度*/
.w-whole{width:100% !important;}
.h-whole{height:100% !important;}

/*边距*/
.m-10{margin:10px !important;}
.m-15{margin:15px !important;}
.m-30{margin:30px !important;}
.mt-0{margin-top:0 !important;}
.mt-5{margin-top:5px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-25{margin-top:25px !important;}
.mt-30{margin-top:30px !important;}
.mt-35{margin-top:35px !important;}
.mt-40{margin-top:40px !important;}
.mt-55{margin-top:55px !important;}
.mt-60{margin-top:60px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-40{margin-bottom:40px !important;}
.mb-60{margin-bottom:60px !important;}
.ml-5{margin-left:5px !important;}
.ml-10{margin-left:10px !important;}
.ml-15{margin-left:15px !important;}
.ml-20{margin-left:20px !important;}
.ml-25{margin-left:25px !important;}
.ml-30{margin-left:30px !important;}
.ml-35{margin-left:35px !important;}
.ml-45{margin-left:45px !important;}
.ml-180{margin-left:180px !important;}
.mr-5{margin-right:5px !important;}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px !important;}  
.mr-20{margin-right:20px !important;}
.mr-25{margin-right:25px !important;}
.mr-30{margin-right:30px !important;}
.mr-35{margin-right:35px !important;}
.mr-40{margin-right:40px !important;}
.mr-55{margin-right:55px !important;}
.mr-60{margin-right: 60px !important;}
.p-10{padding:10px !important;}
.p-15{padding:15px !important;}
.p-20{padding:20px !important;}
.p-30{padding:30px !important;}
.p-0{padding:0 !important;}
.pt-5{padding-top:5px !important;}
.pt-10{padding-top:10px !important;}
.pt-15{padding-top:15px !important;}
.pt-20{padding-top:20px !important;}
.pt-25{padding-top:25px !important;}
.pt-30{padding-top:30px !important;}
.pt-40{padding-top:40px !important;}
.pt-55{padding-top:55px !important;}
.pb-5{padding-bottom:5px !important;}
.pb-10{padding-bottom:10px !important;}
.pb-15{padding-bottom:15px !important;}
.pb-20{padding-bottom:20px !important;}
.pb-30{padding-bottom:30px !important;}
.pb-40{padding-bottom:40px !important;}
.pb-0{padding-bottom:0 !important;}
.pl-5{padding-left:5px !important;}
.pl-10{padding-left:10px !important;}
.pl-15{padding-left:15px !important;}
.pl-20{padding-left:20px !important;}
.pl-25{padding-left:25px !important;}
.pl-30{padding-left:30px !important;}
.pl-35{padding-left:35px !important;}
.pl-40{padding-left:40px !important;}
.pr-5{padding-right:5px !important;}
.pr-10{padding-right:10px !important;}
.pr-15{padding-right:15px !important;}
.pr-20{padding-right:20px !important;}
.pr-25{padding-right:25px !important;}
.pr-30{padding-right:30px !important;}
.pr-35{padding-right:35px !important;}
.pr-40{padding-right:40px !important;}

/*鼠标样式*/
.cspo{cursor:pointer;}
.csde{cursor:default;}

/*icon*/
[class^="ic-"], .ic-mark, .dl-ic{display:inline-block; vertical-align:middle; background-size:contain; background-repeat: no-repeat; background-position: center center;}
.ic-eye{background-image:url(../images/ic-eye.png);}
.ic-dl{background-image:url(../images/ic-dl.png);}
.ic-ywgl{background-image:url(../images/ic-ywgl.png);}
.ic-zdy{background-image:url(../images/ic-zdy.png);}
.ic-add{background-image:url(../images/ic-add.png);}
.ic-less{background-image:url(../images/ic-less.png);}
.ic-note{background-image:url(../images/ic-note.png);}
.ic-qh{background-image:url(../images/ic-qh.png);}
.ic-ry{background-image:url(../images/ic-ry.png);}
.ic-sxt{background-image:url(../images/ic-sxt.png);}
.ic-mark{width:24px; height:27px; position: absolute; margin-left:-12px; margin-top:-27px; cursor:pointer;}
.ic-mark:hover{z-index:94;}
.ic-mark-ck{background-image:url(../images/ic-mark-ck.png);}
.ic-mark-dl{background-image:url(../images/ic-mark-dl.png);}
.ic-mark-yw{background-image:url(../images/ic-mark-yw.png);}
.ic-mark-zdy{background-image:url(../images/ic-mark-zdy.png);}
.ic-mark-person{background-image:url(../images/ic-mark-person.png);}
.ic-mark-cameran{background-image:url(../images/ic-mark-cameran.png);}
.ic-mark-cameraa{background-image:url(../images/ic-mark-cameraa.png);}
.ic-mark-camerab{background-image:url(../images/ic-mark-camerab.png);}
.ic-mark-path{background-image:url(../images/ic-mark-path.png);}
.ic-dl-dl{background-image:url(../images/ic-dl-dl.png);}
.ic-dl-cmr{background-image:url(../images/ic-dl-cmr.png);}
.ic-dl-zdy{background-image:url(../images/ic-dl-zdy.png);}

.btn, .btn-a{display:inline-block; vertical-align:middle; height:41px; line-height:41px;}
.btn-dl{background:url(../images/btn-dl.png) center no-repeat; width:528px;}
.btn-a{height:22px; line-height: 22px; border:1px solid #2582a9; background-color: #0c243c; padding:0 16px;}

.mask{position:absolute; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50); z-index:90; top:0; left:0; display:none;}
.dialog{position:fixed; top:50%; left:50%; z-index:91; display:none; color:#5cc7eb;}
.dl-event{width:607px; height:386px; margin-left:-304px; margin-top:-193px; background:url(../images/dl-event.png) center center no-repeat;}
.dl-ic{width:49px; height:58px; margin-right:12px;}
.dl-title{height:68px; line-height:68px; padding-left:38px;}
.dl-content{padding:0 22px 0 32px;}
.dl-footer{text-align: center; padding-top:15px;}
.dl-close{position:absolute; background:url(about:blank); width:18px; height:18px; right:0; top:32px; z-index: 92}

/* ui-dropselect */
.ui-dropselect{position:relative; display:inline-block; height:26px; }
.ui-dropselect-input{
    width:150px; height:24px; padding-right:24px;line-height:24px; color:#fff;
    border:1px #2582a9 solid; border-right:none; background-color: #0c243c;
    padding-left:12px; vertical-align:middle;
    font-family:'Hiragino Sans GB',"Microsoft Yahei","微软雅黑",simsun,sans-serif;
}
.ui-dropselect-btn{
    position:absolute;width:24px; height:24px; top:1px; right:0;
    cursor:pointer; font-size:0;
    background:#2582a9 url(../images/ic-drop.png) center no-repeat;
}
.ui-dropselect-content{
    visibility:hidden; position:absolute; width:185px; z-index:10; overflow-y:auto;
    border:1px solid #2582a9; background-color:#0c243c; left:0; top:24px;
}
.ui-dropselect-content li{padding:3px 10px; cursor:pointer;}
.ui-dropselect-content li:hover{background-color:#0c243c;}
.ui-dropselect select{display:none;}

.tb-form th{text-align:right; padding:8px 5px;}
.tb-form td{text-align:left; padding:8px 5px;}
.form-area, .form-inp{
    border:1px solid #0c243c; background:#0c243c; color:#fff;
    font-family:'Hiragino Sans GB',"Microsoft Yahei","微软雅黑",simsun,sans-serif;
}
.form-area{width:466px; height:145px;}

/*main-css-common*/
.wrap{width:1336px; margin-left: auto; margin-right: auto;}
.haeder{background:#125396; padding:8px 45px;}
.haeder-h1{float:left; width:161px; height:28px; background: url("../images/logo.png") center center no-repeat; margin-right:30px;}
.header-nav > li{float: left; padding-top:2px;}
.header-nav > li > a, .header-user > a{display: block; float: left; text-align: center; line-height: 22px; height: 22px; border-left: 1px solid #0069ac;}
.header-nav > li > a{width: 120px;}
.header-user{float:right; padding-top:2px;}
.header-user > a{padding:0 10px;}
.header-user > a.ic-user{border-left: none; padding-left:20px; background: url("../images/ic-user.png") left center no-repeat;}

.main-box{padding:27px;}
.main-panel{border:1px solid #0179b6; border-radius: 10px 0; position: relative;}
.main-panel-title{
    width: 166px; height: 35px; line-height: 28px; position: absolute; top:0; left:50%;
    margin-left:-83px; margin-top:-1px; text-align: center;
    background: url("../images/bg-title.png") center center no-repeat;
    z-index:10;
}
.main-panel-title2{
    width:165px; height:20px; border: 1px solid #0179b6;
    position: absolute; top:0; left:50%;
    margin-left:-83px; margin-top:-5px;
    background-color:#00336c;
}
.main-panel-title2 > span{display: block; position: absolute; width:149px; height:22px; line-height: 22px; left:8px; top:-1px; text-align: center; background-color:#00336c;}

.index-left{width:770px; float: left;}
.index-right{width:500px; float: right;}
.index-map{height:320px;}
.index-video{padding: 35px 12px 0;}
.index-charts{height:165px; width:378px; float:left;}
.index-charts-1{width:388px; border-right:none; border-radius: 10px 0 0 0;}
.index-charts-2{border-left:none; border-radius: 0 0 10px 0; width:380px;}

.index-map-img, .index-charts-inner{position: relative; width:100%; height: 100%; overflow: hidden;}
/*.index-map-img > canvas{width:100%; height:100%;}*/
.index-map-img > canvas{transform-origin:left top; position: absolute;}
.index-map-marks{position: absolute;}
.index-map-marks > .ic-mark{display:none;}
.index-map-marks > .ic-mks-path{display:block;}
.index-map-marks-events > .ic-mks-events{display:block;}
.index-map-marks-person > .ic-mks-person{display:block;}
.index-map-marks-camera > .ic-mks-camera{display:block;}
.index-map-lt{
    width:37.5%; height:37.5%; position:absolute; bottom:0; right:0; overflow:hidden; background:#002951;
    border-top: 1px solid #0179b6; border-left: 1px solid #0179b6;
}
.index-map-qh{position:absolute; top:0; left:0; width:21px; height:21px;}
.index-map-lt > img{position:absolute; width:100%;}
.index-map-bl{
    position:absolute; width:162px; height:25px; line-height:25px; text-align:center; left:-1px; bottom:-1px;
    background:url(../images/bg-floor.png) center no-repeat;
}
.index-map-bm{position:absolute; bottom:0; right:37.5%; height:24px;}
.index-map-bm > a{
    display: inline-block; width:40px; height:22px; border-left:1px solid #007ebf;
    border-top:1px solid #007ebf; vertical-align: middle; background-size:auto;
}
.index-map-bm > a:hover, .index-map-bm > a.cur{background-color:#008ad0;}

.index-map-tools{position:absolute; top:20px; left:20px; z-index: 10; width:38px;}
.index-map-tools-ic, .index-map-tools-ica{
    width:36px; height:30px; display: inline-block; vertical-align:middle; background-size:auto;
    background-repeat: no-repeat; background-position: center; background-color: #003366;
    margin-bottom:8px;
}
.index-map-tools-ic:hover, .index-map-tools-icsel{background-color: #008ad0;}
.index-map-tools-ica{border:1px solid #004d86;}
.index-map-tools .ic-zdy{margin-bottom: 18px;}
.index-map-info{
    width:245px; height:149px; background:url(../images/bg-info.png);
    position: absolute; right: -243px; top: 0; margin-top: -7px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    padding:0 10px 10px 24px; color:#007ebf; z-idnex:95; display:none;
}
.index-map-info-t{border-bottom:1px solid #004d86; padding:6px 8px 4px 6px;}
.index-map-info-ct{height:75px; margin-top:6px;}
.index-map-info-bm{text-align: right; padding:0 10px;}
.index-map-info-bm a{color:#007ebf;}

/*滚动条样式ie*/
.ui-scroll
{
    overflow-y: auto;
    scrollbar-face-color: #09c0ef;
    scrollbar-track-color: #003770;
    scrollbar-arrow-color: #09c0ef;
    scrollbar-highlight-color: #09c0ef;
    scrollbar-shadow-color: #09c0ef;
}
/*滚动条样式webkit内核*/
.ui-scroll::-webkit-scrollbar{
    width: 16px;
    border: 1px solid #09c0ef;
}
.ui-scroll::-webkit-scrollbar-thumb/*滑块*/
{
    background-color: #09c0ef;
}
.ui-scroll::-webkit-scrollbar-track/*滚动槽*/
{
    background-color: #003770;
    border: 1px solid #09c0ef;
}
.ui-scroll::-webkit-scrollbar-button{
    background: transparent;
}
.ui-scroll::-webkit-scrollbar-arrow-color{
    color: #09c0ef;
}